@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
html {
  height: 100%;
}

body {
  height: inherit;
}

#root {
  height: 100%;
}
a {
  text-decoration: none;
}

header {
  background-color: #c2e8fc;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 800;
  color: rgb(26, 24, 24);
}

.humberger {
  width: 35px;
  height: auto;
}

main {
  background-color: gainsboro;
  /* background: url(./assets/images/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 2rem;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #1D2B53;
}
.container h1 {
  font-size: 2rem;
  line-height: 1.6
}
.container p {
  font-size: 1.5rem;
  line-height: 1.5;
}
.btn button {
  border: none;
  border: 1px solid #EEF5FF;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 4px;
  color: #1D2B53;
  background-color: gainsboro;

}