@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
html {
  height: 100%;
}

body {
  height: inherit;

}

#root {
  height: 100%;
}
a {
  text-decoration: none;
}

header {
  background-color: #c2e8fc;
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 3.5rem;
  
}

.humberger {
  width: 35px;
  height: auto;
}

main {
  background-color: #fff;
  /* background: url(./assets/images/alex-kotliarskyi-QBpZGqEMsKg-unsplash.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10rem 2rem;
  border-bottom: 1px solid  #2b2020;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: #1D2B53;
}
.container h1 {
  font-size: 2rem;
  line-height: 1.6
}
.container p {
  font-size: 1.5rem;
  line-height: 1.5;
}
.btn button {
  border: none;
  border: 1px solid #EEF5FF;
  font-size: 1.5rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  color: #1D2B53;
  background-color: gainsboro;

}
.s-section {
  /* background-color: #f1efef; */
  padding: 0.8rem;
}

.trial img {
  width: 100%;
  height: 100%;
}
.service-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  margin-top: 5rem;
}
.service-section h2 {
  text-align: center;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  font-weight: 900;

}
.service-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid gainsboro;
  padding: 0.5rem;
  border-radius: 10px;
}
.items h3 {
  margin: 14px 0;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1.5;
  color: #1d1922;
}
.items p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 15px;
  color: #2d2d38;
}

.s-btn {
  margin-bottom: 1rem;
  margin-top: auto;
}
.s-btn button {
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem;
  border-radius: 10px;
  cursor: pointer;
}